<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd" xmlns:tx="http://www.springframework.org/schema/tx">


	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/test">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/ssh/dto/Userbasic.hbm.xml</value>
				<value>com/ssh/dto/Total.hbm.xml</value></list>
	  </property>
		</bean>
		
	<bean id="baseDAO" class="com.ssh.dao.BaseDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>	
	<bean id="registerAction" class="com.ssh.action.RegisterAction">
	    <property name="dao" ref="userBasicDao"></property>
    </bean>
	<bean id="loginAction" class="com.ssh.action.LoginAction">
	    <property name="dao" ref="userBasicDao"></property>
    </bean>
    <bean id="personAction" class="com.ssh.action.PersonAction">
	 <property name="dao" ref="personDao"></property>
    </bean>
    
	<bean id="userBasicDao" class="com.ssh.idao.UserBasicDAOImp" parent="baseDAO"/>
	<bean id="personDao" class="com.ssh.idao.PersonDAOImp" parent="baseDAO"/>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" /></beans>